.hero {
    max-width: 1184px;
    padding: 112px 0 200px;
    margin: 0 auto;
    &__description {
        color: $grey;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 36px;
        max-width: 780;
    }
    &__image {
        width: 120px;
        height: 120px;
    }
    &__title {
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 2.5rem;
        line-height: 3.5rem;
        max-width: 780;
    }
}